.heading{
	text-align:center;
}
.middle{
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
td:last-child{
	text-align:right;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
td{
	border:1px solid black;
	pedding:1px;

}








